body{
    margin:0;
    padding: 0;
    background: #3e3f42;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rel{
    position: relative;
    margin-top: 37px;
    padding-bottom: 91px;
}
.contain{
    margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 79%; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}