.search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #cbcbcb;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
} 
.search-box :hover > .search-text{
    width: 240px;
    padding: 0 6px;
}
.search-box :hover > .search-btn{
    background: white;
}

.search-btn{
    color: /*#e84118*/#3e3f42;
    float: right;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #3e3f42;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}